<div class="panel-body" ng-init="CargandoCursos(inst, sede, user_id, token)">
	<div class="row">
		<div class="col-md-3">
			<section class="panel">
				<div class="panel-body">
					<label for="">Huancayo, {{dia}} de {{mes}} del {{anio}}</label>
				</div>
			</section>
		</div>
		<div class="col-md-9">
			<div class="row text-center">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<label for="">Presente</label>
				</div>
				<div class="col-md-2">
					<label for="">Falta</label>
				</div>
				<div class="col-md-2">
					<label for="">Tarde</label>
				</div>
				<div class="col-md-2">
					<label for="">Tarde 45</label>
				</div>
				<div class="col-md-2">
					<label for="">Justificación</label>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row text-center">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<span class="bg-success col-md-12">&nbsp;</span>
				</div>
				<div class="col-md-2">
					<span class="bg-danger col-md-12">&nbsp;</span>
				</div>
				<div class="col-md-2">
					<span class="bg-info col-md-12">&nbsp;</span>
				</div>
				<div class="col-md-2">
					<span class="bg-accent col-md-12">&nbsp;</span>
				</div>
				<div class="col-md-2">
					<span class="bg-purple col-md-12">&nbsp;</span>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<section class="panel">
				<div class="row">
					<div class="col-md-12">
						<md-toolbar class="md-default-theme">
		            		<div class="md-toolbar-tools">
		            		    <div class="col-md-8">
		            		    	<h3>
			            		    	<span>CURSO | HORARIO</span>
			            		    </h3>
		            		    </div>
		            		    <div class="col-md-2">
		            		    	<md-switch class="md-accent" ng-model="cursos_switch" aria-label="enable_courses" md-no-ink></md-switch>
		            		    </div>     		    
		            		</div>
          				</md-toolbar>
					</div>							
				</div>

				<ul class="list-group">
				    <li class="list-group-item" ng-repeat="curso in cursos" >  
						{{curso.curso_nombre}} | {{curso.curso_horario}}  
						<md-button class="btn-width-xs md-raised md-primary pull-right" ng-disabled="! cursos_switch" ui-sref="index.detail({cursoId: curso.curso_id, ofertaId: curso.oferta_academica_id})"> 
							DETALLES
						</md-button>

						<div class="clearfix" ></div>
				    </li>
				</ul>



			</section>
		</div>
	    <div class="col-md-9" ui-view="contentDetail"></div>
	</div>
</div>